* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    height: 100%;
    width: 100%;
}

.background-image{
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.conteiner {
    height: 90vh;
    display: flex;
    align-items: flex-end;
}

img {
    width: 15%;
    animation: mariogif 20s linear infinite;
}

@keyframes mariogif {
    to {transform: translate(85rem, 0)}
}